.about {
  padding: 120px 0;
  background: #0d0d0d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* IMAGEM */
.imageWrapper {
  position: relative;
  max-width: 420px;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* QUADRADOS DECORATIVOS */
.squareTop {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(200, 169, 106, 0.3);
}

.squareBottom {
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 120px;
  height: 120px;
  border: 1px solid rgba(200, 169, 106, 0.3);
}

/* TEXTO */
.content {
  max-width: 520px;
}

.tag {
  color: var(--gold);
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  line-height: 0.9;
  margin-bottom: 25px;
}

.title span {
  color: var(--gold);
  font-style: italic;
}

.content p {
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 15px;
}

/* STATS */
.stats {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--gold);
  margin-bottom: 10px;
}

.value {
  font-size: 28px;
  font-weight: bold;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
}

/* RESPONSIVO */

/* TABLET */
@media (max-width: 900px) {
  .container {
    padding: 0 2rem;
    gap: 50px;
  }

  .tag {
    font-size: 12px;
  }

  .title {
    font-size: 40px;
  }

  .content p {
    font-size: 13px;
  }

  .value {
     font-size: 24px;
  }

    .label {
     font-size: 10px;
  }
}

/* MOBILE */
@media (max-width: 600px) {

  .about {
    padding: 40px 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .content {
    width: 100%;
  }

  .tag {
    font-size: 12px;
    text-align: center;
  }

  .title {
    font-size: 35px;
  }

}